# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\camile\coding\Parcours Openclassroom\projet 8 - ToDo\ToDoOC8-sf3-to-sf4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
